<h4>Client profile:</h4><br>

<b>Name:</b> <%= @client.name %><br>
<b>Phone:</b> <%= @client.phone %><br>
<b>Date:</b> <%= @client.datestamp %><br>
<b>Barber:</b> <%= @client.barber %><br>
<b>Color:</b> <span style="color: <%= @client.color %>;"><%= @client.color %></span>